@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


html,
body,
a,
a:hover {
  cursor: url('/images/cursor-3.png'), auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}